<!DOCTYPE HTML>
<html  lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Linked Artist Books</title>

    <!-- Local CSS -->
    <link rel="stylesheet" href="lib/css/reset.css">
    <link rel="stylesheet" href="lib/css/chart.css">
    <link rel="stylesheet" href="lib/css/nav.css">
    <link rel="stylesheet" href="lib/css/timeline.css">
    <link rel="stylesheet" href="lib/css/tree.css">

    <!-- <script src="node_modules/angular/angular.min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> -->


  </head>
  <body>
    <div ng-app="plodab" id="container" class="container">
      <div class="title"><span>Pilot Project for Linked Open Data for Artists' Books</span></div>
      <div ng-controller="chartctrl" id="main" role="main">
        <div class="focus">
          <div class="plodab-tool">
            <div class="right-pane">
              <div class="right-pane-chart">
                <div class="button-row">
                  <div class="button-group">
                    <a ng-init=" isActive = ( b.name === 'subjects' ) ? true : false" ng-click="updateSubjects($event); isActive = !isActive" ng-class="{'active': isActive}" class="button" ng-repeat="b in topicButtons" style="color:{{b.color}};" name="{{b.name}}">{{b.display}}</a>
                  </div>
                </div>
                <bubble-chart selected-nodes="selectedNodes" selected-topics="selectedTopics" ng-click="updateNodes($event)" bubble-data="bubbleChartData"></bubble-chart>
                <timeline-chart data="timelineData" key="selectedKey" timeline-data-watcher="timelineIsCurrent"></timeline-chart>
              </div>
              <toggle-bar toggle-panel-view="togglePanelView()" class="chart-position-toggle"></toggle-bar>
            </div>
            <div class="left-pane">
              <tree-chart data="treeData"></tree-chart>
            </div>
        </div>
      </div>

        <!-- <hello-world>
          <world></world>
        </hello-world> -->

        <!-- <plodab-tool>
          <tree-chart-container>
            <tree-chart data="treeData"></tree-chart>
          </tree-chart-container>
          <view-toggle></view-toggle>
          <bubble-chart-container>
            <button  ng-click="updateSubjects($event)" class="btn btn-primary-outline btn-lg" ng-repeat="b in topicButtons" value={{b.name}}>{{b.display}}</button>
            <bubble-chart data="bubbleChartData"></bubble-chart>
            <timeline-chart data="timelineData"></timeline-chart>
          </bubble-chart-container>
        </plodab-tool> -->

      </div>

    </div>

    </div> <!--! end of #container -->

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/data/chart_dummy_data.js"></script>

    <script type="text/javascript" src="lib/javascripts/resources/jquery-2.2.0.min.js"></script>

    <script type="text/javascript" src="node_modules/rdflib/dist/rdflib.js"></script>

    <script type="text/javascript" src="lib/javascripts/resources/d3.js"></script>


    <script type="text/javascript" src="lib/javascripts/charts/bubble_chart.js"></script>
    <script type="text/javascript" src="lib/javascripts/charts/timeline/timeline.js"></script>
    <script type="text/javascript" src="lib/javascripts/charts/tree.js"></script>
    <script type="text/javascript" src="lib/javascripts/charts/timeline/d3-tip/index.js"></script>

    <!-- app -->
    <script type="text/javascript" src="lib/javascripts/angular/app.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="lib/javascripts/angular/linked_books.js"></script>

    <!-- directives for charts-->
    <script type="text/javascript" src="lib/javascripts/angular/directives/charts/bubble_chart.js"></script>
    <script type="text/javascript" src="lib/javascripts/angular/directives/charts/timeline_chart.js"></script>
    <script type="text/javascript" src="lib/javascripts/angular/directives/charts/tree_chart.js"></script>

    <!-- directives for other components of the tool -->
    <script type="text/javascript" src="lib/javascripts/angular/directives/components/toggle_bar.js"></script>

     <!-- services -->
    <script type="text/javascript" src="lib/javascripts/angular/services/data_service.js"></script>
    <script type="text/javascript" src="lib/javascripts/angular/services/timeline_data_service.js"></script>
    <script type="text/javascript" src="lib/javascripts/angular/services/bubble_data_service.js"></script>
    <script type="text/javascript" src="lib/javascripts/angular/services/artifact_data_service.js"></script>


  </body>
</html>
